.SearchBar {
  width: 100%;
  max-width: 670px;
  margin: 30px 0;
}

.SearchBar input {
  width: 80%;
  height: 40px;

  padding: 5px 10px;
  border-radius: 10px 0 0 10px;
  border: 1px solid #000;
}

.SearchBar button {
  width: 20%;
  height: 40px;

  padding: 5px;
  border-radius: 0 10px 10px 0;
  border: 1px solid #000;
}
